@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Urbanist", sans-serif;
}
body, html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
    height: 100%; /* Ensure the body takes the full height */
}
.hero-section{
    background-image: url(Images/about-hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
    position: relative;
}
.ban_content {
    text-align: left;
    position: relative;
    z-index: 2;
    top: 100px;
}
.ban_content .headingone{
    text-align: left;
    box-sizing: border-box;
    margin-top: 0;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.77);
    font-family: "Impact" !important;
    margin-bottom: 0;
    font-size: 70px;
    letter-spacing: 2px;
    line-height: 86px;
}
.ban_content p{
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-right: 70px;
    color: rgba(255, 255, 255, 0.77);
    font-size: 32px;
    line-height: 40px;
}
.ban_btn{
    text-align: left;
}
.ban_btn a{
    margin-top: 20px;
}
/* shade divider  start*/
.custom-shape-divider-bottom-1742208651 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1742208651 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 155px;
}

.custom-shape-divider-bottom-1742208651 .shape-fill {
    fill: #f5f0f0;
}